    /*
    Flaticon icon font: Flaticon
    Creation date: 20/09/2017 11:59
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./font/Flaticon.eot");
  src: url("./font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./font/Flaticon.woff") format("woff"),
       url("./font/Flaticon.ttf") format("truetype"),
       url("./font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./font/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-files-98:before { content: "\f100"; }
.flaticon-002-files-97:before { content: "\f101"; }
.flaticon-003-files-96:before { content: "\f102"; }
.flaticon-004-files-95:before { content: "\f103"; }
.flaticon-005-files-94:before { content: "\f104"; }
.flaticon-006-files-93:before { content: "\f105"; }
.flaticon-007-files-92:before { content: "\f106"; }
.flaticon-008-files-91:before { content: "\f107"; }
.flaticon-009-files-90:before { content: "\f108"; }
.flaticon-010-files-89:before { content: "\f109"; }
.flaticon-011-files-88:before { content: "\f10a"; }
.flaticon-012-files-87:before { content: "\f10b"; }
.flaticon-013-files-86:before { content: "\f10c"; }
.flaticon-014-files-85:before { content: "\f10d"; }
.flaticon-015-files-84:before { content: "\f10e"; }
.flaticon-016-files-83:before { content: "\f10f"; }
.flaticon-017-files-82:before { content: "\f110"; }
.flaticon-018-files-81:before { content: "\f111"; }
.flaticon-019-files-80:before { content: "\f112"; }
.flaticon-020-files-79:before { content: "\f113"; }
.flaticon-021-files-78:before { content: "\f114"; }
.flaticon-022-files-77:before { content: "\f115"; }
.flaticon-023-files-76:before { content: "\f116"; }
.flaticon-024-files-75:before { content: "\f117"; }
.flaticon-025-files-74:before { content: "\f118"; }
.flaticon-026-files-73:before { content: "\f119"; }
.flaticon-027-files-72:before { content: "\f11a"; }
.flaticon-028-files-71:before { content: "\f11b"; }
.flaticon-029-files-70:before { content: "\f11c"; }
.flaticon-030-files-69:before { content: "\f11d"; }
.flaticon-031-files-68:before { content: "\f11e"; }
.flaticon-032-files-67:before { content: "\f11f"; }
.flaticon-033-files-66:before { content: "\f120"; }
.flaticon-034-files-65:before { content: "\f121"; }
.flaticon-035-files-64:before { content: "\f122"; }
.flaticon-036-files-63:before { content: "\f123"; }
.flaticon-037-files-62:before { content: "\f124"; }
.flaticon-038-files-61:before { content: "\f125"; }
.flaticon-039-files-60:before { content: "\f126"; }
.flaticon-040-files-59:before { content: "\f127"; }
.flaticon-041-files-58:before { content: "\f128"; }
.flaticon-042-png:before { content: "\f129"; }
.flaticon-043-files-57:before { content: "\f12a"; }
.flaticon-044-files-56:before { content: "\f12b"; }
.flaticon-045-files-55:before { content: "\f12c"; }
.flaticon-046-files-54:before { content: "\f12d"; }
.flaticon-047-files-53:before { content: "\f12e"; }
.flaticon-048-files-52:before { content: "\f12f"; }
.flaticon-049-files-51:before { content: "\f130"; }
.flaticon-050-files-50:before { content: "\f131"; }
.flaticon-051-files-49:before { content: "\f132"; }
.flaticon-052-files-48:before { content: "\f133"; }
.flaticon-053-files-47:before { content: "\f134"; }
.flaticon-054-files-46:before { content: "\f135"; }
.flaticon-055-files-45:before { content: "\f136"; }
.flaticon-056-files-44:before { content: "\f137"; }
.flaticon-057-files-43:before { content: "\f138"; }
.flaticon-058-files-42:before { content: "\f139"; }
.flaticon-059-files-41:before { content: "\f13a"; }
.flaticon-060-files-40:before { content: "\f13b"; }
.flaticon-061-files-39:before { content: "\f13c"; }
.flaticon-062-files-38:before { content: "\f13d"; }
.flaticon-063-files-37:before { content: "\f13e"; }
.flaticon-064-files-36:before { content: "\f13f"; }
.flaticon-065-files-35:before { content: "\f140"; }
.flaticon-066-files-34:before { content: "\f141"; }
.flaticon-067-files-33:before { content: "\f142"; }
.flaticon-068-files-32:before { content: "\f143"; }
.flaticon-069-files-31:before { content: "\f144"; }
.flaticon-070-files-30:before { content: "\f145"; }
.flaticon-071-files-29:before { content: "\f146"; }
.flaticon-072-files-28:before { content: "\f147"; }
.flaticon-073-files-27:before { content: "\f148"; }
.flaticon-074-files-26:before { content: "\f149"; }
.flaticon-075-files-25:before { content: "\f14a"; }
.flaticon-076-files-24:before { content: "\f14b"; }
.flaticon-077-files-23:before { content: "\f14c"; }
.flaticon-078-files-22:before { content: "\f14d"; }
.flaticon-079-files-21:before { content: "\f14e"; }
.flaticon-080-files-20:before { content: "\f14f"; }
.flaticon-081-files-19:before { content: "\f150"; }
.flaticon-082-files-18:before { content: "\f151"; }
.flaticon-083-files-17:before { content: "\f152"; }
.flaticon-084-files-16:before { content: "\f153"; }
.flaticon-085-files-15:before { content: "\f154"; }
.flaticon-086-files-14:before { content: "\f155"; }
.flaticon-087-files-13:before { content: "\f156"; }
.flaticon-088-files-12:before { content: "\f157"; }
.flaticon-089-files-11:before { content: "\f158"; }
.flaticon-090-files-10:before { content: "\f159"; }
.flaticon-091-files-9:before { content: "\f15a"; }
.flaticon-092-files-8:before { content: "\f15b"; }
.flaticon-093-files-7:before { content: "\f15c"; }
.flaticon-094-files-6:before { content: "\f15d"; }
.flaticon-095-files-5:before { content: "\f15e"; }
.flaticon-096-files-4:before { content: "\f15f"; }
.flaticon-097-files-3:before { content: "\f160"; }
.flaticon-098-files-2:before { content: "\f161"; }
.flaticon-099-files-1:before { content: "\f162"; }
.flaticon-100-files:before { content: "\f163"; }
    
    $font-Flaticon-001-files-98: "\f100";
    $font-Flaticon-002-files-97: "\f101";
    $font-Flaticon-003-files-96: "\f102";
    $font-Flaticon-004-files-95: "\f103";
    $font-Flaticon-005-files-94: "\f104";
    $font-Flaticon-006-files-93: "\f105";
    $font-Flaticon-007-files-92: "\f106";
    $font-Flaticon-008-files-91: "\f107";
    $font-Flaticon-009-files-90: "\f108";
    $font-Flaticon-010-files-89: "\f109";
    $font-Flaticon-011-files-88: "\f10a";
    $font-Flaticon-012-files-87: "\f10b";
    $font-Flaticon-013-files-86: "\f10c";
    $font-Flaticon-014-files-85: "\f10d";
    $font-Flaticon-015-files-84: "\f10e";
    $font-Flaticon-016-files-83: "\f10f";
    $font-Flaticon-017-files-82: "\f110";
    $font-Flaticon-018-files-81: "\f111";
    $font-Flaticon-019-files-80: "\f112";
    $font-Flaticon-020-files-79: "\f113";
    $font-Flaticon-021-files-78: "\f114";
    $font-Flaticon-022-files-77: "\f115";
    $font-Flaticon-023-files-76: "\f116";
    $font-Flaticon-024-files-75: "\f117";
    $font-Flaticon-025-files-74: "\f118";
    $font-Flaticon-026-files-73: "\f119";
    $font-Flaticon-027-files-72: "\f11a";
    $font-Flaticon-028-files-71: "\f11b";
    $font-Flaticon-029-files-70: "\f11c";
    $font-Flaticon-030-files-69: "\f11d";
    $font-Flaticon-031-files-68: "\f11e";
    $font-Flaticon-032-files-67: "\f11f";
    $font-Flaticon-033-files-66: "\f120";
    $font-Flaticon-034-files-65: "\f121";
    $font-Flaticon-035-files-64: "\f122";
    $font-Flaticon-036-files-63: "\f123";
    $font-Flaticon-037-files-62: "\f124";
    $font-Flaticon-038-files-61: "\f125";
    $font-Flaticon-039-files-60: "\f126";
    $font-Flaticon-040-files-59: "\f127";
    $font-Flaticon-041-files-58: "\f128";
    $font-Flaticon-042-png: "\f129";
    $font-Flaticon-043-files-57: "\f12a";
    $font-Flaticon-044-files-56: "\f12b";
    $font-Flaticon-045-files-55: "\f12c";
    $font-Flaticon-046-files-54: "\f12d";
    $font-Flaticon-047-files-53: "\f12e";
    $font-Flaticon-048-files-52: "\f12f";
    $font-Flaticon-049-files-51: "\f130";
    $font-Flaticon-050-files-50: "\f131";
    $font-Flaticon-051-files-49: "\f132";
    $font-Flaticon-052-files-48: "\f133";
    $font-Flaticon-053-files-47: "\f134";
    $font-Flaticon-054-files-46: "\f135";
    $font-Flaticon-055-files-45: "\f136";
    $font-Flaticon-056-files-44: "\f137";
    $font-Flaticon-057-files-43: "\f138";
    $font-Flaticon-058-files-42: "\f139";
    $font-Flaticon-059-files-41: "\f13a";
    $font-Flaticon-060-files-40: "\f13b";
    $font-Flaticon-061-files-39: "\f13c";
    $font-Flaticon-062-files-38: "\f13d";
    $font-Flaticon-063-files-37: "\f13e";
    $font-Flaticon-064-files-36: "\f13f";
    $font-Flaticon-065-files-35: "\f140";
    $font-Flaticon-066-files-34: "\f141";
    $font-Flaticon-067-files-33: "\f142";
    $font-Flaticon-068-files-32: "\f143";
    $font-Flaticon-069-files-31: "\f144";
    $font-Flaticon-070-files-30: "\f145";
    $font-Flaticon-071-files-29: "\f146";
    $font-Flaticon-072-files-28: "\f147";
    $font-Flaticon-073-files-27: "\f148";
    $font-Flaticon-074-files-26: "\f149";
    $font-Flaticon-075-files-25: "\f14a";
    $font-Flaticon-076-files-24: "\f14b";
    $font-Flaticon-077-files-23: "\f14c";
    $font-Flaticon-078-files-22: "\f14d";
    $font-Flaticon-079-files-21: "\f14e";
    $font-Flaticon-080-files-20: "\f14f";
    $font-Flaticon-081-files-19: "\f150";
    $font-Flaticon-082-files-18: "\f151";
    $font-Flaticon-083-files-17: "\f152";
    $font-Flaticon-084-files-16: "\f153";
    $font-Flaticon-085-files-15: "\f154";
    $font-Flaticon-086-files-14: "\f155";
    $font-Flaticon-087-files-13: "\f156";
    $font-Flaticon-088-files-12: "\f157";
    $font-Flaticon-089-files-11: "\f158";
    $font-Flaticon-090-files-10: "\f159";
    $font-Flaticon-091-files-9: "\f15a";
    $font-Flaticon-092-files-8: "\f15b";
    $font-Flaticon-093-files-7: "\f15c";
    $font-Flaticon-094-files-6: "\f15d";
    $font-Flaticon-095-files-5: "\f15e";
    $font-Flaticon-096-files-4: "\f15f";
    $font-Flaticon-097-files-3: "\f160";
    $font-Flaticon-098-files-2: "\f161";
    $font-Flaticon-099-files-1: "\f162";
    $font-Flaticon-100-files: "\f163";